<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PAB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <PAB.Properties.Settings>
      <setting name="fontName" serializeAs="String">
        <value>HY견명조</value>
      </setting>
      <setting name="musicFontSize" serializeAs="String">
        <value>64</value>
      </setting>
      <setting name="backgoundFilePath" serializeAs="String">
        <value>파일 선택</value>
      </setting>
      <setting name="churchName" serializeAs="String">
        <value />
      </setting>
      <setting name="bibleFontSize" serializeAs="String">
        <value>64</value>
      </setting>
      <setting name="usePowerPoint" serializeAs="String">
        <value>True</value>
      </setting>
    </PAB.Properties.Settings>
  </userSettings>
</configuration>